* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  background: linear-gradient(45deg, darkred, goldenrod);
  font-family: Consolas, Monaco, "Droid Sans Mono", "Courier New", monospace;
  padding-top: 15vh;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  overflow: auto;
}

#root {
  padding: 0rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (min-width: 321px) {
}

@media (min-width: 768px) {
  /* Other tablet-specific CSS */
}

/* Mobile-first media query for Desktop */
@media (min-width: 1024px) {
  /* Other desktop-specific CSS */
}

@media (min-height: 480px) {
}

@media (min-height: 640px) {
}

@media (min-height: 768px) {
  /* CSS rules for tablets */
}

@media (min-height: 900px) {
  /* CSS rules for desktop */
}

@media (min-height: 1080px) {
  /* CSS rules for large desktops */
}
