/* Navbar.css */
.Navbar {
  height: 90%;
  width: 90%;
  font-size: 16px;
  display: flex;
  margin: 1em auto 1em auto;
  background: linear-gradient(to right, #333333, #1f1f1f);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  padding: 0px;
  display: flex;
  justify-content: center; /* Centers items along the main (horizontal) axis */
  align-items: center;
  padding: 0.5em;
  border-radius: 10px;
}

.Navbar .menuItem {
  margin: 0 0.4em;
}

.Navbar img {
  padding: 0px;
}

.Navbar ul {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center; /* This will vertically center align the li elements */
}

.Navbar ul li a {
  color: #fff;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.Navbar ul li a:hover {
  color: #514ef5; /* Lighter shade for hover. Adjust color as necessary. */
}
.Navbar .logo {
  height: 3em;
}

@media (min-width: 321px) {
  .Navbar ul li a {
    font-size: 1em;
  }
  .Navbar .logo {
    height: 5em;
  }
}

@media (min-width: 768px) {
  .Navbar ul li a {
    font-size: 3em;
    margin: 0.25em;
  }
  .Navbar .logo {
    height: 7em;
  }
}

/* Mobile-first media query for Desktop */
@media (min-width: 1024px) {
  .Navbar ul li a {
    font-size: 4em;
    margin: 0.25em;
  }
  .Navbar .logo {
    height: 9em;
  }
}

@media (min-height: 480px) {
  /* CSS rules for small mobile devices */
}

@media (min-height: 768px) {
  /* CSS rules for tablets */
}

@media (min-height: 900px) {
  /* CSS rules for desktop */
}
