/* Login.css */

.LoginComponent {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 0em;
  padding-bottom: 1em;
}

.LoginComponent .login-form {
  border-radius: 5px;
}

.LoginComponent .login-form input {
  width: 80%;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid orange;
  background: none;
  color: orange;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transition for smooth effects */
}

.LoginComponent .login-form input:focus {
  border-color: darkorange; /* Slightly different color on focus */
  box-shadow: 0 0 5px darkorange; /* Shadow on focus */
}

.LoginComponent .login-form input::placeholder {
  color: #ff8c00; /* Lighter shade of orange for the placeholder */
}
.LoginComponent .login-form label {
  color: orange;
}

.LoginComponent .login-form button {
  background: orange;
  color: black;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  font-weight: bold;
  width: 80%;
  transition: background-color 0.3s ease; /* Transition for smooth effects */
}
.LoginComponent h1,
h2 {
  color: orange;
  font-size: 3em;
  margin: 0; /* Spacing adjustment */
}

.LoginComponent .login-form button:hover {
  background-color: darkorange; /* Darker shade on hover */
}

#login-header {
  font-size: 4em;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
}
@media (max-width: 320px) and (orientation: landscape) {
}

@media (min-width: 321px) {
  /* additional styles for larger cellphones */
}

@media (min-width: 768px), (min-width: 1024px) {
  .LoginComponent,
  .LoginComponent .login-form label,
  .LoginComponent .login-form input,
  .LoginComponent .login-form button,
  .LoginComponent a {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .LoginComponent,
  .LoginComponent .login-form label,
  .LoginComponent .login-form input,
  .LoginComponent .login-form button,
  .LoginComponent a {
    font-size: 2.5em;
  }
}

@media (min-height: 480px) {
  /* CSS rules for small mobile devices */
}

@media (min-height: 768px) {
  /* CSS rules for tablets */
}

@media (min-height: 900px) {
  /* CSS rules for desktop */
}
