/* Login.css */
.container {
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  padding: 20px;
  border-radius: 5px;
}

.login-form input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid orange;
  background: none;
  color: orange;
}

.login-form button {
  background: orange;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
h1,
h2 {
  flex-direction: column;
}
